//Colores 
$dark-gray: #333;
$blue: #1c88bf;
$grey:#666;
$dark-blue: #364851;
$off-white: #f7f7f7;  
//Font size
$font-size-larg: 1.8rem;
$font-size-small: 1.4rem;
//Spacing
$s-size: 1.2rem; 
$m-size: 1.6rem; 
$l-size: 3.2rem; 
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;